h1{
  text-align: center;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 50px;
  margin: 75px;
}

p{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 25px;
  margin: 45px;
}

.date{
  border-style: solid;
  border-color: #D1DCEB;
  padding: 3px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.rim{
  background-color:#B8D7DE;
  padding: 20px;
  /* border-style: dotted;
  border: 10px;
  border-color: #D1DCEB; */
}
#one{

}

#two{
  padding-left: 100px;
}

#three{
  padding-left: 200px;
}
